<!--<narendra-component></narendra-component>
<app-classandstylebind></app-classandstylebind>
<app-twowaydatabind></app-twowaydatabind>
<app-calcoperation></app-calcoperation>
<app-pipesexample></app-pipesexample>
<app-pipecreationex></app-pipecreationex>


<h1 appCustomdirect>CustomDirective is Working</h1>
<h2 appMycolor>Custom Manual Create</h2>
<h3 appCustomdire2>THIS IS THE SECOND ANG PROJ</h3>--> 
<app-muloperation></app-muloperation>
<app-addoperation></app-addoperation>
<app-suboperation></app-suboperation>
<app-divoperation></app-divoperation>